<div class="perfil" layout="row" ng-controller="perfilCtrl">
  <div ng-include="'components/sidenav/sidenav.html'" style="height:100%;"></div>

  <div class="perfil" layout="row" ng-controller="perfilCtrl">
  <md-whiteframe class="md-whiteframe-z5" layout="column" layout-sm="column" layout-align="center center" layout-wrap>
    <h1 flex>Configuración de Perfil</h1>
    <div ng-click="changeAvatar()" class="image-container">
      <img src="dist/img/avatar.jpg" alt="" style="border-radius:50%;">
      <div class="after" layout="row" layout-align="center center">
        <md-icon  ng-style="{'font-size': '48px', height:'48px'}" flex id="searchAvatar" md-svg-icon="dist/icons/ic_search_white_48px.svg"></md-icon>
      </div>
    </div>
    <md-card style="width:25%;">
      <md-card-content style="padding:10px;">
        <h2 class="md-caption">Username</h2>
        <md-divider></md-divider>
        <div layout="row" layout-wrap layout-align="center center">
          <md-input-container ng-readonly="toggle.username" md-no-float flex>
            <input ng-model="user.username" type="text" placeholder="Nickname">
          </md-input-container>
          <md-button ng-click="toggle.username=!toggle.username" class="md-icon-button md-primary" aria-label="Edit">
            <md-icon md-svg-icon="dist/icons/ic_mode_edit_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <div layout="row" layout-align="space-around center">
      <div layout="column">
        <md-card>
          <md-card-content style="padding:10px;">
            <h2 class="md-caption">Email</h2>
            <md-divider></md-divider>
            <div layout="row" layout-wrap layout-align="center center">
              <md-input-container ng-readonly="toggle.email" md-no-float flex>
                <input ng-model="user.email" type="text" placeholder="Email">
              </md-input-container>
              <md-button ng-click="toggle.email=!toggle.email" class="md-icon-button md-primary" aria-label="Edit">
                <md-icon md-svg-icon="dist/icons/ic_mode_edit_24px.svg"></md-icon>
              </md-button>
            </div>
          </md-card-content>
        </md-card>
        <md-card>
          <md-card-content style="padding:10px;">
            <h2 class="md-caption">Radio de visualización</h2>
            <md-divider></md-divider>
            <div layout="row" layout-wrap layout-align="center center">
              <div layout="row" flex>
                <!-- <md-slider flex class="md-primary" md-discrete ng-model="user.range" step="1" min="1" max="1000" aria-label="radius">
                </md-slider> -->
                <md-slider ng-readonly="true" class="md-primary" flex min="5" max="1000" ng-model="user.range" aria-label="radius">
                </md-slider>
                <div flex="30" layout layout-align="center center">
                  <input ng-readonly="true" flex type="number" ng-model="user.range" aria-label="radius" aria-controls="radius">
                </div>
              </div>
              <md-button ng-click="toggle.range=!toggle.range" class="md-icon-button md-primary" aria-label="Edit">
                <md-icon md-svg-icon="dist/icons/ic_mode_edit_24px.svg"></md-icon>
              </md-button>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div layout="column" flex>
        <md-card>
          <md-card-content style="padding:10px;">
            <h2 class="md-caption">Sexo</h2>
            <md-divider></md-divider>
            <div layout="row" layout-wrap layout-align="center center">
              <md-input-container ng-readonly="toggle.gender" md-no-float flex>
                <input ng-model="user.gender" type="text" placeholder="Sexo">
              </md-input-container>
              <md-button ng-click="toggle.gender=!toggle.gender" class="md-icon-button md-primary" aria-label="Edit">
                <md-icon md-svg-icon="dist/icons/ic_mode_edit_24px.svg"></md-icon>
              </md-button>
            </div>
          </md-card-content>
        </md-card>
        <md-card>
          <md-card-content style="padding:10px;">
            <h2 class="md-caption">Edad</h2>
            <md-divider></md-divider>
            <div layout="row" layout-wrap layout-align="center center">
              <md-input-container md-no-float flex>
                <input ng-readonly="toggle.age" ng-model="user.age" type="number" placeholder="Edad">
              </md-input-container>
              <md-button ng-click="toggle.age=!toggle.age" class="md-icon-button md-primary" aria-label="Edit">
                <md-icon md-svg-icon="dist/icons/ic_mode_edit_24px.svg"></md-icon>
              </md-button>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <div layout="row" layout-wrap>
      <md-button class="md-raised md-primary">Guardar Cambios</md-button>
    </div>
  </md-whiteframe>
  </div>
