<div class="messages" layout="row">
  <div ng-include="'components/sidenav/sidenav.html'" style="height:100%;"></div>

    <div flex layout="column" layout-padding layout-align="center center" ng-style="{'background': '#eee'}">
    <!-- Progress mientras se cargan los mensajes y se comprueba la geolocalizacion del usuario -->
    <md-progress-circular ng-if="!toggle.progress" md-mode="indeterminate"></md-progress-circular>

    <!-- Mensaje de Error si la aplicación no pudo obtener ubicación del usuario -->
      <md-card ng-show="toggle.error">
        <md-card-content layout="column" layout-align="center center" >
          <md-icon md-svg-src="dist/icons/ic_mood_bad_black_48px.svg" aria-label="mood bad" id="moodBadIcon"></md-icon>
          <h3>Algo salió mal</h3>
          <p>{{error.message}}</p>
        </md-card-content>
      </md-card>
    <!-- Fecha: {{clock | date:medium}} -->

    <!-- Div con los mensajes cercano al usuario -->
    <md-content class="" ng-if="toggle.yelling" flex style="width:70%;" scroll-bottom="messages">
      <md-list>
        <md-list-item class="md-3-line fadeInUp lista md-whiteframe-z3" ng-repeat="message in messages">
          <img ng-src="http://graph.facebook.com/{{getCurrentUser().facebook.id}}/picture" class="md-avatar" alt="avatar" />
          <div class="md-list-item-text" layout="column" layout-align="space-around start">
            <h4>{{ getCurrentUser().facebook.first_name }} Distancia: {{message.distance}} metros  Fecha mensaje: {{message.dateTime | date:'d MMM, y' }} Hora mensaje: {{message.dateTime | date:' HH:mm:ss' }}</h4>
            <h3>{{message.text}}</h3>
            <div layout="row">
              <!-- <h4>Votes: </h4> -->
              <p>Localizacion Mensaje: {{message.location[1]}}, {{message.location[0]}}  Votos: {{message.votes}}</p>
            </div>
          </div>
          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
      <!-- </md-card-content> -->
    <!-- </md-card> -->
    </md-content>

    <!-- Input con boton para enviar nuevos mensajes -->
    <form flex="40"ng-submit="$event.preventDefault()" name="formNewMessage" layout="row" style="width:85%" id="formNewMessage">
      <md-input-container flex ng-if="toggle.yelling">
        <input ng-model="messages.newMessage" type="text" md-maxlength="200" aria-label="New Message"/>
      </md-input-container>
      <md-button ng-if="toggle.yelling" ng-click="sendMessage()" class="md-fab md-primary" aria-label="Send" type="submit">
        <md-icon md-svg-src="dist/icons/send.svg" aria-label="send"></md-icon>
      </md-button>
    </form>
  </div>
</div>
<feedback-widget url='/api/feedbacks' thanks-text='Gracias!' />
