<div class="main" layout="row" layout-fill class="navbar md-whiteframe-z4" ng-style="{'background': '#eee'}" md-swipe-left="closeSideNav()" md-swipe-right="closeNotifications()">
  <md-sidenav flex class="md-sidenav-left md-whiteframe-z4" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="closeSideNav()">
    <md-toolbar class="primaryBgColor md-whiteframe-z3">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <img ng-src="http://graph.facebook.com/{{currentUser.facebook.id}}/picture" alt="profile picture" style="width: 50px;border-radius:50%;"/>
        <span></span>
        <div class="md-body-2">{{ currentUser.facebook.first_name }} </div>
        <div class="md-body-1">{{ currentUser.facebook.email }}</div>
      </div>
    </md-toolbar>
    <md-list ng-cloak>
      <md-list-item ng-click="yelling()">
        <img class="png-icon" src="/dist/img/logos/mainLogo1.png" style="width: 24px; height: 24px;border-radius:50%;margin: 16px 32px 12px 0;">
        <p>Yelling!</p>
      </md-list-item>
      <md-list-item ng-click="logout()">
        <md-icon class="" md-svg-src="/dist/icons/ic_power_settings_new_black_24px.svg"></md-icon>
        <p> Logout </p>
      </md-list-item>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Tu Ubicación</md-subheader>
      <md-list-item style="padding:0;">
        <div flex id="mapLocation">
        <ui-gmap-google-map center='mapOptions.center' zoom='mapOptions.zoom' control="mapControl" style="height: 400px;">
          <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
        </div>
      </md-list-item>
  </md-sidenav>
  <div layout="column" layout-fill role="main">
    <md-toolbar class="primaryBgColor">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="showSideNav()" hide-gt-md aria-label="Menu">
          <md-icon md-svg-src="/dist/icons/ic_menu_24px.svg"></md-icon>
        </md-button>
        <md-button class="hide-sm hide-md" ui-sref="main.messages" aria-label="Yelling">
           <img class="png-icon" src="/dist/img/logos/mainLogo1.png" style="width: 40px; height: 40px;border-radius:50%;">
           <span>Yelling!</span>
        </md-button>
        <md-button class="md-icon-button hide-gt-md" ui-sref="main.messages" aria-label="Yelling">
           <img class="png-icon" src="/dist/img/logos/mainLogo1.png" style="width: 40px; height: 40px;border-radius:50%;">
        </md-button>
        <span flex></span>
        <md-button ui-sref="main.feedbacks" aria-label="Menu">
          Feedback
        </md-button>
        <!-- <md-button ng-click="notificationToast()" aria-label="Menu">
          showActionToast
        </md-button> -->
        <md-button class="md-icon-button" aria-label="Notification" ng-click="openNotifications($mdOpenMenu, $event)">
          <md-icon md-menu-origin class="swing" md-svg-icon="/dist/icons/ic_notifications_active_white_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div md-swipe-left="openNotifications()" md-swipe-right="showSideNav()" class="ui-view fade"></div>
  </div>
  <md-sidenav flex class="md-sidenav-right md-whiteframe-z4" md-component-id="right" md-swipe-right="closeNotifications()">
    <md-toolbar class="primaryBgColor md-whiteframe-z3">
      <span flex></span>
      <div layout="row" layout-align="start center">
        <md-button class="md-icon-button" aria-label="Notification" ng-click="openNotifications()">
          <md-icon md-menu-origin class="swing" md-svg-icon="/dist/icons/ic_notifications_active_white_24px.svg"></md-icon>
        </md-button>
        <h4 class="md-title">Notificaciones</h4>
      </div>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">Más Recientes</md-subheader>
        <md-list-item class="md-3-line" ng-click="sayHello()" ng-repeat="notification in notifications">
          <img ng-src="/dist/img/logos/mainLogo1.png" class="md-avatar" alt="profile picture"/>
          <div class="md-list-item-text" layout="column">
            <h3>{{ notification.user }}</h3>
            <h4>{{ notification.message }}</h4>
            <p>{{ notification.data }}</p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
      </md-list>
    </md-content>
  </md-sidenav>
</div>
