<md-content class="comments" layout="column" flex layout-fill>

  <!-- Progress mientras se cargan los comentarios -->
  <div layout="column" ng-if="!toggle.comments" layout-align="center center">
    <md-progress-circular flex md-mode="indeterminate"></md-progress-circular>
  </div>
  <!-- Tarjeta con la info del mensaje que se esta leyendo -->
  <div layout="row" ng-if="toggle.comments">
    <md-card flex>
      <md-card-content layout="row" layout-fill layout-align="space-between center">
        <div layout="row">
          <div layout="column">
            <img ng-src="http://graph.facebook.com/{{currentUser.facebook.id}}/picture" alt="avatar" style="width: 100px;border-radius:10px; height: 100px"/>
            <h3 class="md-body-2" style="margin:0;">Username</h3>
          </div>
          <div layout="column">
            <div layout="row">
              <h4 class="md-body-1" style="margin:0;">Fecha mensaje: {{message.dateTime | date:'d MMM, y' }}-</h4>
              <h4 class="md-body-1" style="margin:0;">Hora mensaje: {{message.dateTime | date:' HH:mm:ss' }}-</h4>
              <h4 class="md-body-1" style="margin:0;">Votes: {{message.votes}}-</h4>
              <h4 class="md-body-1" style="margin:0;">Comentarios: {{message.qtyComments}}</h4>
            </div>
            <h3 class="md-body-2" style="margin:0;">Mensaje: </h3>
            <p>{{message.content}}</p>
          </div>
        </div>
        <ui-gmap-google-map class="hide-sm" center='mapOptions.center' zoom='mapOptions.zoom' control="mapControl">
          <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </md-card-content>
    </md-card>
  </div>

  <!-- Tarjetas con comentarios -->
  <div layout="row" ng-if="toggle.comments" ng-repeat="comment in comments">
    <md-card flex>
      <md-card-content  layout="row" layout-padding>
        <div layout="column" flex="7" layout-align="center center">
          <img ng-src="http://graph.facebook.com/{{comment.author.facebook.id}}/picture" alt="avatar" style="height:60px;border-radius:10px;"/>
          <h4 class="md-body-2" style="margin:0;" >{{comment.author.facebook.first_name }}</h4>
        </div>
        <div layout="column" layout-align="space-around start" flex>
          <div layout="row" layout-align="space-around start">
            <p class="md-caption" style="margin:0;" ><span hide-sm>Fecha mensaje:</span>{{comment.datetime | date:'d MMM, y' }}</p>
            <p class="md-caption" style="margin:0;" ><span hide-sm> - Hora mensaje:</span>{{comment.datetime | date:' HH:mm:ss' }}</p>
          </div>
          <h3 class="md-body-2" style="margin:0;">{{comment.content}}</h3>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <!-- Boton para enviar nuevos mensajes -->
  <md-button ng-if="toggle.comments" class="md-fab md-primary md-fab-bottom-right md-whiteframe-z3" aria-label="Add" ng-click="showNewComment($event)">
    <md-icon md-svg-src="dist/icons/ic_add_white_24px.svg"></md-icon>
  </md-button>
</md-content>
