<div class="perfil" ng-controller="perfilCtrl">
  <md-whiteframe class="md-whiteframe-z5" layout="column" layout-sm="column" layout-align="center center" layout-wrap>
    <h1 flex>Configuración de Perfil</h1>
    <img src="img/avatar.jpg" alt="" style="border-radius:50%;">
    <md-card style="width:25%;">
      <md-card-content style="padding:10px;">
        <h2 class="md-caption">Username</h2>
        <md-divider></md-divider>
        <div layout="row" layout-wrap layout-align="center center">
          <span flex>Carlos</span>
          <md-button class="md-icon-button md-primary" aria-label="Edit">
            <md-icon md-svg-icon="../img/icons/ic_mode_edit_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <div layout="row" layout-align="space-around center">
      <div layout="column">
        <h3 class="md-subhead">Radio de escucha de mensajes</h3>
        <div layout>
          <md-slider flex min="5" max="1000" ng-model="color.red" aria-label="radio"></md-slider>
          <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
            <div flex="10" layout layout-align="center center">
              <span class="md-body-1">R</span>
            </div>
          </div>
        </div>
        <md-input-container md-no-float>
          <input ng-model="user.username" placeholder="placeholder">
        </md-input-container>
      </div>
      <div layout="column">
        <md-input-container md-no-float>
          <input ng-model="user.username" placeholder="placeholder">
        </md-input-container>
        <md-input-container md-no-float>
          <input ng-model="user.username"placeholder="placeholder">
        </md-input-container>
      </div>
    </div>
    <md-input-container md-no-float>
      <!-- <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon> -->
      <input ng-model="user.email" type="email" placeholder="Email (requerido)" ng-required="true">
    </md-input-container>
  </md-whiteframe>
