//colors
$color_bon_jour_approx: #e1e1e1;
$white: #ffffff;
$black: #000000;
$color_storm_dust_approx: #666666;
$color_mine_shaft_approx: #333333;
$color_azure_approx: rgb(59, 89, 152);
$orange_peel: #ffa000;
$color_indigo_approx: #5c6bc0;
$white_95: rgba(255, 255, 255, 0.95);
$color_chicago_approx: #575858;
$black_45: rgba(0,0,0,0.45);
$green: #00ff00;
$white_97: rgba(255, 255, 255, 0.97);
$black_15: rgba(0,0,0,0.15);
$color_pine_green_approx: #00796b;
$black_54: rgba(0,0,0,0.54);
$black_60: rgba(0, 0, 0, .6);
$color_peter_river: #3498db;
$color_nephritis: #27ae60;
$color_clouds: #ecf0f1;
$color_asbestos: #7f8c8d;
$color_belize_hole: #2980b9;
$midnight_blue: #2c3e50;
$color_chatbg: #eee;
$color_green_sea: #16a085;
//urls
$url_0: url('/dist/img/backgrounds/bgsDin/bg20.gif');
$url_1: url('/dist/img/backgrounds/bgchat.png');

//@extend-elements
%extend_1 {
	width: 45px;
	height: 45px;
	border-radius: 30px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.fade.ng-enter{
	-webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
.fade.ng-leave{
	-webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

.zoomIn.ng-enter{
	-webkit-animation: zoomIn 2s;
  -moz-animation: zoomIn 2s;
  -ms-animation: zoomIn 2s;
  animation: zoomIn 2s;
}
.zoom.ng-leave{
	-webkit-animation: zoomOut 0.5s;
  -moz-animation: zoomOut 0.5s;
  -ms-animation: zoomOut 0.5s;
  animation: zoomOut 0.5s;
}

.fadeInUp.ng-enter{
	-webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -ms-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}

.slideInUp.ng-enter{
	-webkit-animation: slideInUp  1s;
  -moz-animation: slideInUp  1s;
  -ms-animation: slideInUp  1s;
  animation: slideInUp  1s;
}
.md-button.md-fab.md-fab-bottom-right {
	position: fixed!important;
}
md-content {
	height: 100%;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: $color_bon_jour_approx;
	border: 0 none $white;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50px;
	&:hover {
		background: $white;
	}
	&:active {
		background: $black;
	}
}
::-webkit-scrollbar-track {
	background: $color_storm_dust_approx;
	border: 0 none $white;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50px;
	&:hover {
		background: $color_storm_dust_approx;
	}
	&:active {
		background: $color_mine_shaft_approx;
	}
}
::-webkit-scrollbar-corner {
	background: transparent;
}
.menu {
	list-style: none;
	border-bottom: 0.1em solid $black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
	&:before {
		content: "[";
	}
	&:after {
		content: "]";
	}
	> li {
		display: inline;
		&:before {
			content: " ";
			padding-right: 0.3em;
		}
		&:nth-child(1):before {
			content: "";
			padding: 0;
		}
	}
}
.fbBtn {
	width: 30%;
	background-color: $color_azure_approx !important;
}
#fbText {
	vertical-align: sub;
}
#titleApp {
	color: $orange_peel;
}
#titleY {
	color: $color_indigo_approx;
}
.home {
	md-icon {
		margin: 0;
	}
	md-whiteframe {
		margin: 30px;
		background-color: $white;
	}
}

#menuAvatar {
	margin: 0;
}
.primaryBgColor {
	background-color: $midnight_blue !important;
}
.avatar {
	border: 2px solid $white;
	box-sizing: initial;
	box-shadow: 0 1px 3px $black_15;
	@extend %extend_1;
	img {
		@extend %extend_1;
	}
}
:before {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
:after {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
.ui-view{
	height: inherit;
}
.navbar{
	.md-toolbar-tools-bottom {
	  font-size: small;
	  & :last-child {
	    opacity: 0.8;
	  }
	}
}
.main{
	#mapLocation{
		.angular-google-map-container{
	    height: 200px;
			width: 300px;
	  }
	}
	#avatarSidenav {
		width: 24%;
		border-radius: 50%;
	}
	// svg{
	// 	fill: $color_green_sea;
	// }
}

md-dialog{
	background-color: $color_chatbg;
}
.comments{
	background-color: $color_chatbg;
	.angular-google-map-container{
		height: 150px;
		width: 400px;
		// position: absolute;
  }
}
.messages {
	background: $url_0 repeat;
	background-color: $color_chatbg;

	md-list-item.md-3-line{
		margin: 14px;
		background-color: white;
	}
	#messageAvatar{
		width: 10%;
		border-radius: 50%;
	}
	.md-subheader{
		background-color: $color_belize_hole;
		margin: 0px;
		color: $color_clouds;
		font-weight: bold;
	}
	md-list{
		padding: 0;
	}
	md-card{
		margin-bottom: 0;
		margin-top: 8px;
	}
	md-content{
		overflow: hidden;
		background-color: transparent;
	}
	md-content:hover{
		overflow-y:scroll;
	}

	#moodBadIcon{
		width: 90px;
		height: 90px;
		svg{
			fill: $color_asbestos;
		}
	}
	.places{
		.md-subheader{
			background-color: $color_nephritis;
			margin: 0px;
			color: $color_clouds;
			font-weight: bold;
		}
		md-list{
			padding: 0px;
		}
		.placeIcon{
			width: 48px;
		  height: 48px;
			svg{
			  fill: $color_peter_river;
			}
		}
	}
}
.perfil {
	md-input-container {
		padding: 0;
	}
	.image-container {
		position: relative;
		.after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			display: none;
			color: $white;
		}
		&:hover .after {
			display: block;
			background: $black_60;
			cursor: pointer;
		}
	}
	#searchAvatar {
		top: 50%;
	}
}

img#mainLogo {
	border-radius: 20%;
}
