/**
 * Colors
*/
$color_bon_jour_approx: #e1e1e1;
$white: #ffffff;
$black: #000000;
$color_storm_dust_approx: #666666;
$color_mine_shaft_approx: #333333;
$color_azure_approx: rgb(59, 89, 152);
$orange_peel: #ffa000;
$color_indigo_approx: #5c6bc0;
$white_95: rgba(255, 255, 255, 0.95);
$color_chicago_approx: #575858;
$black_45: rgba(0,0,0,0.45);
$green: #00ff00;
$white_97: rgba(255, 255, 255, 0.97);
$black_15: rgba(0,0,0,0.15);
$color_pine_green_approx: #00796b;
$black_54: rgba(0,0,0,0.54);
$black_60: rgba(0, 0, 0, .6);
$color_peter_river: #3498db;
$color_nephritis: #27ae60;
$color_clouds: #ecf0f1;
$color_asbestos: #7f8c8d;
$color_belize_hole: #2980b9;
$midnight_blue: rgb(2,119,189);
$color_chatbg: #eee;
$color_green_sea: #16a085;

/* Urls*/
$url_0: url('/dist/img/backgrounds/bgsDin/bg20.gif');
$url_1: url('/dist/img/backgrounds/bgchat.png');

//@extend-elements
%extend_1 {
	width: 45px;
	height: 45px;
	border-radius: 30px;
}

/**
 * Estilos ng-cloak
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/**
 * Animaciones
*/
.slidedown.ng-enter,
.slidedown.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fade.ng-enter{
	-webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
.fade.ng-leave{
	-webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

.zoomIn.ng-enter{
	-webkit-animation: zoomIn 2s;
  -moz-animation: zoomIn 2s;
  -ms-animation: zoomIn 2s;
  animation: zoomIn 2s;
}
.zoom.ng-leave{
	-webkit-animation: zoomOut 0.5s;
  -moz-animation: zoomOut 0.5s;
  -ms-animation: zoomOut 0.5s;
  animation: zoomOut 0.5s;
}

.fadeInUp.ng-enter{
	-webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -ms-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}

.fadeInDown.ng-enter{
	-webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -ms-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}
.fadeInDown.ng-leave{
	-webkit-animation: bounceOutRight 1s;
  -moz-animation: bounceOutRight 1s;
  -ms-animation: bounceOutRight 1s;
  animation: bounceOutRight 1s;
}
.fadeInUp.ng-leave{
	-webkit-animation: bounceOutRight 1s;
  -moz-animation: bounceOutRight 1s;
  -ms-animation: bounceOutRight 1s;
  animation: bounceOutRight 1s;
}

.fadeInUpBig.ng-enter{
	-webkit-animation: fadeInUpBig 1s;
  -moz-animation: fadeInUpBig 1s;
  -ms-animation: fadeInUpBig 1s;
  animation: fadeInUpBig 1s;
}

.bounceInUp.ng-enter{
	-webkit-animation: bounceInUp 1s;
  -moz-animation: bounceInUp 1s;
  -ms-animation: bounceInUp 1s;
  animation: bounceInUp 1s;
}
.slideInUp.ng-enter{
	-webkit-animation: slideInUp  1s;
  -moz-animation: slideInUp  1s;
  -ms-animation: slideInUp  1s;
  animation: slideInUp  1s;
}
.bounceIn.ng-enter{
	-webkit-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -ms-animation: bounceIn 1s;
  animation: bounceIn 1s;
}

.swing{
	-webkit-animation: swing 2s;
  -moz-animation: swing 2s;
  -ms-animation: swing 2s;
  animation: swing 2s;
}

/**
 * Estilos del scrollbar
*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: $color_bon_jour_approx;
	border: 0 none $white;
	border-radius: 50px;
	&:hover {
		background: $white;
	}
	&:active {
		background: $black;
	}
}
::-webkit-scrollbar-track {
	background: $color_storm_dust_approx;
	border: 0 none $white;
	border-radius: 50px;
	&:hover {
		background: $color_storm_dust_approx;
	}
	&:active {
		background: $color_mine_shaft_approx;
	}
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/**
 * Estilos aplicados a toda la app
*/
.pointer {
	cursor: pointer;
}
.no-margin{
	margin: 0;
}
img#mainLogo {
	border-radius: 20%;
}
.md-button.md-fab.md-fab-bottom-right {
	position: fixed!important;
}
md-content {
	height: 100%;
}
md-dialog{
	background-color: $color_chatbg;
}
.fbBtn {
	width: 30%;
	background-color: $color_azure_approx !important;
}
#fbText {
	vertical-align: sub;
}
.primaryBgColor {
	background-color: $midnight_blue !important;
}
.avatar {
	border: 2px solid $white;
	box-sizing: initial;
	box-shadow: 0 1px 3px $black_15;
	@extend %extend_1;
	img {
		@extend %extend_1;
	}
}
:before {
	box-sizing: border-box;
}
:after {
	box-sizing: border-box;
}
.ui-view{
	height: inherit;
}
.cardAvatar{
	height:60px;
	border-radius:10px;
}
/**
 * Estilos de vista home
*/
.home {
	md-icon {
		margin: 0;
	}
	md-whiteframe {
		margin: 30px;
		background-color: $white;
	}
}
/* Estilos de login */
.login {
	height:100%;
	background-color: $color_chatbg;
	md-icon {
		margin: 0;
	}
	md-whiteframe {
		margin: 30px;
		background-color: $white;
	}
	#mainLogoLogin{
		height: auto;
		width: 130px;
		border-radius: 10%;
	}
	.md-toolbar-tools {
    height: 55px;
    max-height: 55px;
}

}

/**
 * Estilos de la vista main (navbar y toolbar)
*/
.main{
	.png-icon{
    margin: 0;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
	}
	#appLogo{
		border-radius: 20%;
		width: 10%;
	}
	#mapLocation{
		.angular-google-map-container{
	    height: 200px;
			width: 300px;
	  }
	}
	#avatarSidenav {
		width: 24%;
		border-radius: 50%;
	}
	#avatarNotification{
		margin-top: 16px;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
	}
}

/**
 * Estilos de la vista comments
*/
.comments{
	background-color: $color_chatbg;
	.angular-google-map-container{
		height: 150px;
		width: 400px;
  }
}

/**
 * Estilos de la vista messages
*/
.messages {
	background-color: $color_chatbg;

	md-content.messagesContent{
		width:90%;
		background-color: transparent;
	}
	#moodBadIcon{
		width: 90px;
		height: 90px;
		svg{
			fill: $color_asbestos;
		}
	}
}

/**
 * Estilos de la vista feedbacks
*/
.feedbacks{
	md-content.feedbacksContent{
		width:90%;
		background-color: transparent;
	}
}

/**
 * Estilos vista perfil
*/
.perfil {
	md-input-container {
		padding: 0;
	}
	.image-container {
		position: relative;
		.after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			display: none;
			color: $white;
		}
		&:hover .after {
			display: block;
			background: $black_60;
			cursor: pointer;
		}
	}
	#searchAvatar {
		top: 50%;
	}
}
